<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Bio Metric</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Bio Metric Attendance
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <fieldset style="margin-bottom:5px">
                    <div class="form-inline">
                        <div class="form-group">
                            <span>Search By</span>
                        </div>
                        <div class="form-group">

                            <select id="ddlSearchType" class="form-control placeholder-color"
                                    ng-model="model.pSearchType.selected"
                                    ng-options="item.id as item.name for item in model.productSearchTypes"
                                    options-class="{'placeholder-color':'placeholder', 'control-color':'data'} "
                                    ng-change="changeDdlClass('ddlSearchType')"
                                    ng-focus="errorMessage=''"></select>
                        </div>
                        <div class="form-group left-dent">
                            <input id="txtSearchText" type="text" ng-model="search.pSearchText" class="form-control"
                                   style="width:250px;" placeholder="Seach Text" maxlength="25" ng-focus="errorMessage=''">
                        </div>
                        <div class="bottom-line" style="margin-top:5px"></div>
                        <div class="form-inline">
                            <div class="form-group">
                                <span>Between</span>
                            </div>
                            <!--<div class="form-group input-append date first-avail" data-date-format="mm/dd/yyyy">-->
                            <div class="form-group input-append date first-avail">
                                <input type="text" ng-model="search.pAvailableFrom" class="form-control" style="width:100px;" id="txtFirstAvailFrom" placeholder="Date from"
                                       datepicker-popup="{{format}}" is-open="openedFrom" min-date="'2000-01-01'" max-date="'2020-12-31'" datepicker-options="dateOptions"
                                       show-button-bar="false" ng-required="true" ng-focus="errorMessage=''">
                                <!--<span class="add-on"><i class="glyphicon glyphicon-th"></i></span>-->
                                <span>
                                    <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <div class="form-group left-dent">
                                <span>to</span>
                            </div>
                            <div class="form-group input-append date first-avail">
                                <input type="text" ng-model="search.pAvailableTo" class="form-control" style="width:100px;" id="txtFirstAvailTo" placeholder="Date to"
                                       datepicker-popup="{{format}}" is-open="openedTo" min-date="'2000-01-01'" max-date="'2020-12-31'" datepicker-options="dateOptions"
                                       show-button-bar="false" ng-required="true" ng-focus="errorMessage=''">
                                <span>
                                    <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <button type="button" class="btn btn-primary" id="btnLoadProductList" ng-click="clickGo()">&#160;&#160;Go&#160;&#160;</button>
                            <button type="button" class="btn btn-secondary" id="btnClear" ng-click="clickClear()">&#160;Clear&#160;</button>
                        </div>

                        <button type="button" class="btn btn-success btn-sm pull-right">Excel</button>

                </fieldset>
                <div class="dataTable_wrapper">

                    <table class="table table-striped table-bordered table-hover" id="dataTables-example" ng-table="tableParams" template-pagination="/ui-elements/ngTablePager.html">
                        <thead>
                            <tr>
                                <th>Badge No</th>
                                <th>Name</th>
                                <th>Swipe Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr></tr>

                        </tfoot>
                        <tbody data-ng-repeat="atte in model.attendance">
                            <tr class="odd gradeX">
                                <td>{{atte.StaffBadgeId}}</td>
                                <td>{{atte.StaffName}}</td>
                                <td>{{atte.StaffSwipeTime}}</td>
                                <td class="center">{{atte.AttndStatus}}</td>
                            </tr>
                        </tbody>

                    </table>
                    <div class="pagination pull-right">
                        <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></pagination>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>
