<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Registered User
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Badge No</th>
                                <th>Name</th>
                                <th>Vendor</th>
                            </tr>
                        </thead>
                        <tbody data-ng-repeat="user in reguser">
                            <tr class="odd gradeX">
                                <td>{{user.staff_badge_id}}</td>
                                <td>{{user.staff_name}}</td>
                                <td>{{user.vendor_id}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
           
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
