<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                User
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Badge No</th>
                                <th>Name</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody data-ng-repeat="user in users">
                            <tr class="odd gradeX">
                                <td>{{user.BadgeID}}</td>
                                <td>{{user.Name}}</td>
                                <td>{{user.Role}}</td>

                            </tr>

                        </tbody>
                    </table>
                   
                </div>
            </div>
            <div ng-show="model.totalItems<=0">
                No data.
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
